.stories .swiper_container {
  padding: 2rem 0;
  position: relative;
}
.stories .swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width: 500px) {
  .stories .swiper_container {
    height: 47rem;
  }
  .stories .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .stories .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.stories .swiper-slide img {
  height: 100%;
  object-fit: cover;
}

.stories .swiper-slide-shadow-left,
.stories .swiper-slide-shadow-right {
  display: none;
}

.stories .slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stories .swiper-button-prev,
.stories .swiper-button-next {
  width: 30px;
  height: 30px;
  color: black;
  background-color: rgba(255, 255, 255, 0.454);
  padding: 15px;
  border-radius: 100%;
  transition: background-color 0.2s ease-in-out;
}

.stories .swiper-button-prev:hover,
.stories .swiper-button-next:hover {
  background-color: white;
}

.stories .swiper-button-prev::after,
.stories .swiper-button-next::after {
  font-size: small;
  font-weight: bold;
}

.stories .swiper-button-prev {
  right: 30% !important;
}

.stories .swiper-button-next {
  left: 30% !important;
}

@media (max-width: 990px) {
  .stories .swiper-button-prev {
    right: 25% !important;
  }

  .stories .swiper-button-next {
    left: 25% !important;
  }
}

@media (max-width: 450px) {
  .stories .swiper-button-prev {
    right: 5% !important;
  }

  .stories .swiper-button-next {
    left: 5% !important;
  }
}

.stories .slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.stories .slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.stories .slider-controler .slider-arrow::after {
  content: "";
}

.stories .swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.stories .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.stories .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
